<launch>
    <!-- Robot 1 -->
    <node pkg="mpc_controller" name="mpc_node_1" type="mpc_npde" output="screen">
        <param name="robot_namespace" type="string" value="bot1"/>
        <param name="use_namespace" type="bool" value="true"/>
    </node>
    <!-- Robot 2 -->
    <node pkg="mpc_controller" name="mpc_node_2" type="mpc_npde" output="screen">
        <param name="robot_namespace" type="string" value="bot2"/>
        <param name="use_namespace" type="bool" value="true"/>
    </node>
    <!-- Robot 3 -->
    <node pkg="mpc_controller" name="mpc_node_3" type="mpc_npde" output="screen">
        <param name="robot_namespace" type="string" value="bot3"/>
        <param name="use_namespace" type="bool" value="true"/>
    </node>
    <!-- Robot 4 -->
    <node pkg="mpc_controller" name="mpc_node_4" type="mpc_npde" output="screen">
        <param name="robot_namespace" type="string" value="bot4"/>
        <param name="use_namespace" type="bool" value="true"/>
    </node>
</launch>