<?xml version="1.0" encoding="UTF-8"?>

<model>
    <name>Grid Round 1 Arena</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Team Robocon - BITS Pilani</name>
        <email>bitsrobocon@gmail.com</email>
    </author>

    <description>
        The model for the arena of Flipkart Grid 3.0's round 1.
    </description>
</model>